<!DOCTYPE html>
<html>

<head>
    {#Standard input for head#}
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>

    {#Bootstrap included here#}
    <script src="{{ asset('js/jquery-3.2.0.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('js/moment.js') }}"></script>

    {#Stylesheets included here#}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">

    {#Favicon#}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {#-------------------------------------------------------------------------#}
    {#            If more things are needed in HEAD they go below              #}
    {#-------------------------------------------------------------------------#}

</head>

{#This is the body - all that is displayed#}
<body>

{#TODO:Header configuration#}
{% block header %}
    <header>
        <div>
            <img src="{{ asset('img/headingPicture.jpg') }}" class="img-responsive" width="100%">
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <!--Logo-->
                <div class="navbar-header">
                    <a href="{{ path('home') }}" class="navbar-brand">
                        XELSELENIUS ENTERPRISE
                    </a>

                    <!--Collapse Menu Button-->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!--Menu Items-->
                <div class="collapse navbar-collapse" id="mainNavBar">

                    <!--Left Alignment-->
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path('profile') }}" class="navbar-brand">
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('overview') }}" class="navbar-brand">
                                Overview
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('buildings') }}" class="navbar-brand">
                                Buildings
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('shipyard') }}" class="navbar-brand">
                                Shipyard
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fleet') }}" class="navbar-brand">
                                Fleet
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Admin<span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a><h4>Categories</h4></a></li>
                                <li><a><h4>Users</h4></a></li>
                            </ul>
                        </li>
                    </ul>

                    <!--Right Alignment-->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('user_register_form') }}" class="navbar-brand">
                                Register
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('login') }}" class="navbar-brand">
                                Login
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}" class="navbar-brand">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

<main>
    {% block main %}
        {#---------------------------------------------------------------------------#}
        {#   -|==>    Here should go the stuff from the different views       <==|-  #}
        {#---------------------------------------------------------------------------#}
    {% endblock %}
</main>

<footer class="footer">
{% block footer %}

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <!--Logo-->
                <div class="navbar-header">
                    <a href="{{ path('about') }}" class="navbar-brand">
                        &copy; 2017 - Xel'Selenius Enterprise
                    </a>

                    <!--Collapse Menu Button-->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!--Menu Items-->
                <div class="collapse navbar-collapse" id="mainNavBar">

                    {#footer right#}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('support') }}" class="navbar-brand">
                                Support
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('rules') }}" class="navbar-brand">
                                Rules
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {#---------------------------------------------------------------------------#}
        {#            If more things are needed in FOOTER they go below              #}
        {#---------------------------------------------------------------------------#}

{% endblock %}
</footer>

{#TODO:Scripts inclusion#}
{% block javascripts %}{% endblock %}

</body>
</html>
