{% extends "base.html.twig" %}

{% block main %}
    <div class="container body-content">

        <div id="text-center">
            <img src="{{ asset('img/f1.gif') }}">
            {{ Minerals }}
            <img src="{{ asset('img/f2.gif') }}">
            {{ Hydrogen }}
        </div>

        <div class="row">
            <table id="text-center" style="width:100%" border="1">
                <tr id="text-center">
                    <th>Shipyard</th>
                    <th>Amount</th>
                    <th>Name</th>
                    <th>Minerals</th>
                    <th>Hydrogen</th>
                    <th>Time left</th>
                    <th>Status</th>
                </tr>

                <tr>
                    <td><img src="{{ asset('img/nk11_1.jpg') }}"></td>
                    <td>0</td>
                    <td>Fighter</td>
                    <td>94</td>
                    <td>45</td>
                    <td>30s</td>
                    <td>In Construction</td>
                </tr>
            </table>
            <br/>
            <table id="text-center" style="width:100%" border="1">
                <tr id="text-center">
                    <th>Buildings</th>
                    <th>Level</th>
                    <th>Name</th>
                    <th>Minerals</th>
                    <th>Hydrogen</th>
                    <th>Time left</th>
                    <th>Status</th>
                </tr>

                <tr>
                    <td><img src="{{ asset('img/bs11.jpg') }}"></td>
                    <td>0</td>
                    <td>Shipyard</td>
                    <td>94</td>
                    <td>45</td>
                    <td>30s</td>
                    <td>In Construction</td>
                </tr>
            </table>

        </div>
    </div>
{% endblock %}

