{% extends "base.html.twig" %}

{% block title %}
    Shipyard
{% endblock %}

{% block main %}
    <div class="container body-content">
        <div class="row">

            {#<div id="text-center">#}
                {#<img src="{{ asset('img/f1.gif') }}">#}
                {#{{ Minerals }}#}
                {#<img src="{{ asset('img/f2.gif') }}">#}
                {#{{ Hydrogen }}#}
            {#</div>#}

            <table id="text-center" style="width:100%" border="1" >
                <tr id="text-center">
                    <th>Picture</th>
                    <th>Amount</th>
                    <th>Name</th>
                    <th>Minerals</th>
                    <th>Hydrogen</th>
                    <th>Time to build</th>
                    <th>Status</th>
                </tr>

                <tr>
                    <td><img src="{{ asset('img/nk11_1.jpg') }}"></td>
                    <td>0</td>
                    <td>Fighter</td>
                    <td>94</td>
                    <td>45</td>
                    <td>30s</td>
                    <td>Start Construction</td>
                </tr>

                <tr>
                    <td><img src="{{ asset('img/nk13_1.jpg') }}"></td>
                    <td>0</td>
                    <td>Battleship</td>
                    <td>94</td>
                    <td>45</td>
                    <td>30s</td>
                    <td>Start Construction</td>
                </tr>

                <tr>
                    <td><img src="{{ asset('img/nk9_1.jpg') }}"></td>
                    <td>0</td>
                    <td>Transporter</td>
                    <td>94</td>
                    <td>45</td>
                    <td>30s</td>
                    <td>Start Construction</td>
                </tr>

                <tr>
                    <td><img src="{{ asset('img/nk43.jpg') }}"></td>
                    <td>0</td>
                    <td>Colonizer</td>
                    <td>94</td>
                    <td>45</td>
                    <td>30s</td>
                    <td>Start Construction</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}